body {
    margin-top: 10%;
    display: flex;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    font-size: x-large;
    font-weight: bold;
}

.selectBox {
    border-color: #323232;
    width: 100%;
    border-radius: 8px;
    box-shadow: 4px 4px #c5c5c5;
}
